@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
:root{
    --primary : #00b98e;
    --secondary:#FFFFFF;
    --pri-ft:#0E2E50;
    --sec-ft : #666565;
}
header{
  position: relative;
  background-color: var(--primary);
}
.nav_container{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary);
}
.hamburger{
  background: transparent;
  border: none;
  display: none;
  z-index:999;
}
#ham_xmark{
  display: none;
}
.hamburger i{
  padding:1rem 2rem;
  font-size: 1.5rem;
  color:var(--secondary);
}
.logo_container img{
  height:100px;
}
.nav_links{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: min(65%,640px);
  transition: transform ease 0.5s;
}
.nav_links li{
  list-style-type: none;
}
.nav_links li a{
  text-decoration: none;
  color: var(--secondary);
  font-weight: 600;
}
.nav_links li:hover{
  border-bottom: 1px solid var(--secondary);
}

.nav_links button{
  padding:0.5rem 1.7rem;
  background: var(--secondary);
  color: var(--primary);
  border: transparent;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.nav_links.active{
  transform: translateY(0);
}

.hero,.about{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.hero{
  background-color: var(--primary);
  color: var(--secondary);
  min-height: calc(100vh - 100px);
}
.hero_desc,.about_desc{
  margin:0 3.5rem;
}
.hero_desc h1{
  font-size: 2.2rem;
  margin-bottom: 10px;
  line-height: 2.5rem;
}
.hero_img,.about_img{
  min-width:45%;
}
.hero_img img,.about_img img{
  width:100%;
}
.about{
  background-color: var(--secondary);
  min-height: 100vh;
  text-align: left;
  font-weight: bold;
  margin: 0 auto;
}
.about_title{
  margin-bottom: 10px;
  color:var(--primary);
  border:1px solid var(--primary);
  width: fit-content;
  padding: 0.25rem 2rem;
  border-radius: 20px;
}
.about_desc h2{
  margin:1rem 0;
  color:var(--pri-ft);
}

.about_desc p{
  color: var(--sec-ft);
  font-size: 15px;
}
.abt_features_container{
  display: flex;
  align-items: center;
}
.abt_features_container i{
  color:var(--primary);
  font-size: 1.5rem;
}
.abt_feature{
  margin:0.5rem 0;
  padding:0.5rem 1rem;
}

@media (max-width : 768px) {
  .nav_links{
    position: absolute;
    top:0;
    transform: translateY(-100%);
    width: 100%;
    flex-direction:column;
    background-color: var(--primary);
    padding:1rem 0;
  }
  .nav_links li{
    margin: 1rem 0;
  }
  .hamburger{
    display: block;
  }
  .hero{
    flex-direction: column;
    justify-content: center;
    padding:3rem 0;
  }
  .about{
    flex-direction: column-reverse;
  }
  .about_desc{
    margin: 6rem 2rem 2rem 2rem;
  }
  .hero_desc,.about_title{
    text-align: center;
  }
  .about_title{
    margin: 0 auto;
  }
}