@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
:root{
    --pri-color : #00b98e;
    --sec-color:#FFFFFF;
}
header{
  position: relative;
  background-color: var(--pri-color);
}
.nav_container{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger{
  background: transparent;
  border: none;
  display: none;
  z-index:999;
}
#ham_xmark{
  display: none;
}
.hamburger i{
  padding:1rem 2rem;
  font-size: 1.5rem;
  color:var(--sec-color);
}
.logo_container img{
  height:100px;
}
.nav_links{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: min(65%,640px);
  transition: transform ease 0.5s;
}
.nav_links li{
  list-style-type: none;
}
.nav_links li a{
  text-decoration: none;
  color: var(--sec-color);
  font-weight: 600;
}
.nav_links li:hover{
  border-bottom: 1px solid var(--sec-color);
}

.nav_links button{
  padding:0.5rem 1.7rem;
  background: var(--sec-color);
  color: var(--pri-color);
  border: transparent;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.nav_links.active{
  transform: translateY(0);
}
@media (max-width : 768px) {
  .nav_links{
    position: absolute;
    top:0;
    transform: translateY(-100%);
    width: 100%;
    flex-direction:column;
    background-color: var(--pri-color);
    padding:1rem 0;
  }
  .nav_links li{
    margin: 1rem 0;
  }
  .hamburger{
    display: block;
  }
}