<section class="footer" id="contact">
  <div class="footer_container">
    <div class="contact">
      <h3>Get In Touch</h3>
      <div class="phone">
        <i class="fa-solid fa-phone"></i>
        <span>+91 9025556444</span>
      </div>
      <div class="email">
        <i class="fa-solid fa-envelope"></i>
        <span>asterprints@gmail.com</span>
      </div>
      <div class="social_container">
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-linkedin-in"></i>
        <i class="fa-brands fa-instagram"></i>
      </div>
    </div>
    <div class="footer_nav">
      <h3>Quick Link</h3>
      <ul class="footer_links">
        <li class="menu_link">
          <span><i class="fa-solid fa-caret-right"></i></span
          ><a href="/#hero">Home</a>
        </li>
        <li class="menu_link">
          <span><i class="fa-solid fa-caret-right"></i></span
          ><a href="/#about">About</a>
        </li>
        <li class="menu_link">
          <span><i class="fa-solid fa-caret-right"></i></span
          ><a href="/products">Products</a>
        </li>
        <li class="menu_link">
          <span><i class="fa-solid fa-caret-right"></i></span
          ><a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <div class="locations">
      <h3>Locations</h3>
      <div class="location">
        <div class="address">
          <i class="fa-solid fa-location-dot"></i>
          <div>718-l,Mundagan Street<br />Sivakasi-626123</div>
        </div>
        <div class="phone">
          <i class="fa-solid fa-phone"></i>
          <span>+91 9025556444</span>
        </div>
      </div>
      <div class="location">
        <div class="address">
          <i class="fa-solid fa-location-dot"></i>
          <div>2/2282/3, AJ Nagar,Chinna Thambi Nagar<br />Sivakasi-626123</div>
        </div>
        <div class="phone">
          <i class="fa-solid fa-phone"></i>
          <span>+91 9487934758</span>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">&copy; <u>AsterPrints</u>, All Rights Reserved</div>
</section>
