<header id="hero">
  <nav class="nav_container">
    <div class="logo_container">
      <img src="/img/aster_logo.png" alt="" />
    </div>
    <ul class="nav_links">
      <li class="menu_link"><a href="/#hero">Home</a></li>
      <li class="menu_link"><a href="/#about">About</a></li>
      <li class="menu_link"><a href="/products">Products</a></li>
      <li class="menu_link"><a href="#contact">Contact</a></li>
      <button>Get Quote</button>
    </ul>
    <button class="hamburger">
      <i class="fa-solid fa-bars" id="ham_bars"></i>
      <i class="fa-solid fa-xmark" id="ham_xmark"></i>
    </button>
  </nav>
</header>
