@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
html{
  scroll-behavior: smooth;
}
:root{
    --primary : #00b98e;
    --secondary:#FFFFFF;
    --pri-ft:#0E2E50;
    --sec-ft : #666565;
    --shadow:#e6e7e2;
}
header{
  position: relative;
  background-color: var(--primary);
}
.nav_container{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary);
}
.hamburger{
  background: transparent;
  border: none;
  display: none;
  z-index:999;
}
#ham_xmark{
  display: none;
}
.hamburger i{
  padding:1rem 2rem;
  font-size: 1.5rem;
  color:var(--secondary);
}
.logo_container img{
  height:100px;
}
.nav_links{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: min(65%,640px);
  transition: transform ease 0.5s;
}
.nav_links li{
  list-style-type: none;
}
.nav_links li a{
  text-decoration: none;
  color: var(--secondary);
  font-weight: 600;
}
.nav_links li:hover{
  border-bottom: 1px solid var(--secondary);
}

.nav_links button,.prod_desc button{
  padding:0.5rem 1.7rem;
  background: var(--secondary);
  color: var(--primary);
  border: transparent;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.nav_links.active{
  transform: translateY(0);
}

.hero,.about,.products,.features{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.hero{
  background-color: var(--primary);
  color: var(--secondary);
  min-height: calc(100vh - 100px);
}
.hero_desc,.about_desc,.prod_desc,.feat_desc{
  margin:0 3.5rem;
}
.hero_desc h1{
  font-size: 2.2rem;
  margin-bottom: 10px;
  line-height: 2.5rem;
}
.hero_img,.about_img,.prod_img,.feat_img{
  min-width:45%;
}
.hero_img img,.about_img img,.feat_img img{
  width:100%;
}
.about,.products,.features{
  background-color: var(--secondary);
  min-height: 100vh;
  text-align: left;
  font-weight: bold;
  margin: 0 auto;
}
.about_title,.prod_title,.feat_title,.teams_title{
  margin-bottom: 10px;
  color:var(--primary);
  border:1px solid var(--primary);
  width: fit-content;
  padding: 0.25rem 2rem;
  border-radius: 20px;
} 
.about_desc h2,.prod_desc h2,.feat_desc h2,.teams h2{
  margin:1rem 0;
  color:var(--pri-ft);
}

.about_desc p,.prod_desc p{
  color: var(--sec-ft);
  font-size: 15px;
}
.abt_features_container{
  display: flex;
  align-items: center;
}
.abt_features_container i{
  color:var(--primary);
  font-size: 1.5rem;
}
.abt_feature{
  margin:0.5rem 0;
  padding:0.5rem 1rem;
}

.prod_desc ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin:1rem 0;
}
.product{
  color: var(--primary);
  background-color: var(--secondary);
  border: 2px groove var(--primary);
  padding:0.5rem 2rem;
  margin: 0.25rem 0;
  margin-right: 1rem;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}
.product:hover{
  background-color: var(--primary);
  color: var(--secondary);
}
.prod_desc button{
  background: var(--primary);
  color: var(--secondary);
  font-size: 1rem;
}
.cards_container{
  display: flex;
  flex-wrap: wrap;  
  width:100%;
}
.card{
  display: flex;
  align-items: center;
  width: fit-content;
  flex: 2 1 1;
  border: 2px solid var(--primary);
  border-radius: 2rem;
  padding-right: 1rem;
  margin: 1rem 0;
  margin-right: 1rem;
}
.card i{
  padding:0.7rem;
  margin-right: 0.5rem;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 1.2rem;
  border-radius: 50%;
}
.footer{
  background-color: var(--pri-ft);
  color: var(--secondary);
  padding-top: 2rem;
}
.footer_container{
  display: flex;
  justify-content: space-evenly;
  margin:1rem 0;
}
.footer_container h3{
  font-weight: bolder;
  margin: 1rem 0;
  font-size: 1.5rem;
}
.phone,.email{
  margin:1rem 0;
}
.phone i,.email i,.address i{
  margin-right : 1rem;
}
.social_container i{
  padding:0.7rem;
  border:0.25px solid var(--sec-ft);
  border-radius: 50%;
  font-size: 1.2rem;
  margin:0 0.2rem;
  transition: all 0.25s ease-in-out;
}
.social_container i:hover{
  background-color: var(--secondary);
  color: var(--primary);
}

.social_container i:first-child{
  margin-left: 0;
}
.menu_link{
  list-style: none;
  padding:0.25rem 0;
}
.menu_link i{
  margin-right: 1rem;
}
.menu_link a{
  text-decoration: none;
  color: var(--secondary);
}
.location{
  border: 1px solid var(--sec-ft);
  padding:1rem;
  margin:1rem 0;
  border-radius: 1rem;
  width: 20rem;
}
.address{
  display: flex;  
  align-items: center;
}
.copyright{
  width:80%;
  margin:0 auto;
  text-align: center;
  border-top: 1px solid var(--sec-ft);
  padding: 1rem 0;
}

.teams{
  min-height: 100vh;
  text-align: center;
}
.teams_title{
  margin: 0 auto;
}
.teams_container{
  display: flex;
  justify-content: center;
  padding:1rem;
}
.member{
  position:relative;
  width:20%;
  height:350px;
  margin: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
}
.member_img{
  position: absolute;
  top:50%;
  left:50%;
  padding:1rem;
  width:70%;
  transform: translate(-50%,-50%);
  border: 2px solid var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.member_img img{
  background-color: var(--shadow);
  border-radius: 50%;
  width:100%;
  aspect-ratio: 1/1;
}
.member h3{
  padding-top:3rem;
}
.member p{
  padding-top: 5rem;
}
.member h3,.member p{
  text-transform: uppercase;
  transition:all 0.2s ease-in-out;
  height:40%;
  box-shadow: 0px 0px 10px 5px rgba(230,231,226,1);
-webkit-box-shadow: 0px 0px 10px 5px rgba(230,231,226,1);
-moz-box-shadow: 0px 0px 10px 5px rgba(230,231,226,1);
border-radius: 0.5rem;
}
.member:hover > p,.member:hover > h3{
  background-color: var(--primary);
  color:var(--secondary);
}

@media (max-width : 800px) {
  .nav_links{
    position: absolute;
    top:0;
    transform: translateY(-100%);
    width: 100%;
    flex-direction:column;
    background-color: var(--primary);
    padding:1rem 0;
  }
  .nav_links li{
    margin: 1rem 0;
  }
  .hamburger{
    display: block;
  }
  .hero{
    flex-direction: column;
    justify-content: center;
    padding:3rem 0;
  }
  .about,.features{
    flex-direction: column-reverse;
  }
  .products{
    flex-direction: column;
  }
  .about_desc,.prod_desc,.feat_desc,.footer_container,.teams{
    margin: 6rem 2rem 2rem 2rem;
  }
  .hero_desc,.about_title,.prod_title,.feat_title{
    text-align: center;
  }
  .about_title,.prod_title,.feat_title{
    margin: 0 auto;
  }
  .prod_desc ul,.cards_container{
    justify-content: center;
  }
  .card:last-child{
    margin-bottom: 0;
  }
  .footer_container{
    margin-top: 3rem;
    flex-direction: column;
  }
  .teams_container{
    flex-direction: column;
    align-items: center;
  }
  .member{
    width:70%;
  }
  .member_img{
    width:9rem;
  }
  .member_img img{
    width: 100%;
  }
}